title
{
  font-family: 'Merriweather', serif;
  color: red;
}
body
{
  text-align: center;
}
.top-container
{
  padding-top: 200px;
  background-color: #f2ed6f;
}
.top_img
{
  margin: 0 auto;
 display: block;
 position: relative;
 top: 70px;
}
.head_text
{
  margin-top: 5px;
  margin-bottom: 2px;
  font-family: 'Permanent Marker', cursive;
  font-size: 150px;
  /*color:#79d70f;*/
  color:#d63447;
  display:inline-block;
}
body
{
  margin: 0px;
}
.wifi_img
{
  max-width:300px;
  max-height: 150px;
  position: relative;
  left:50px;
}
.slogan
{
  font-weight: bolder;
  font-style: normal;
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 5px;
  position: relative;
  bottom:5px;
  color:#f57b51
}
.airport_pic
{
  position: relative;
  bottom: 200px;
  right:1300px;
  max-width: 300px;
}
.plane_pic
{
  max-width: 200px;
  bottom: 700px;
  position:relative;
  display: inline-block;
}
.boy_pic
{
  position:relative;
  left:250px;
  display: inline-block;
}
